<div class="panel centered-panel" v-if="current_panel=='task_selection'">
    <div class="panel-header">
      <div class="panel-title h2">HPA Image Annotator </div> <span>(v{{version}})</span>
      <br>
      <p>Please choose a task:</p>
    </div>
    <div class="panel-body">
      <br>
      <div v-for="(task, task_name) in tasks" :key="task_name">
        <progress class="progress" style="width: 288px" :value="task.finished" :max="task.total"></progress>
        <br>
        <button class="btn" style="width: 280px" @click="chooseTask(task_name)"><i class="icon icon-edit"></i>&nbsp; {{task_name}}: {{task.finished}}/{{task.total}}</button>&nbsp;&nbsp;
        <br>
        <br>
      </div>
      <button v-if="user.role === 'admin'" class="btn" style="width: 280px" @click="showStatistics()">Statistics (🚧Under construction)</button>
    </div>
    <div class="panel-footer">
    </div>
  </div>
<style>
  .statistics-panel{
    background-color: #448aff0f;
    width: 800px;
    height: 2500px;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  .statistics-card{
    height: 500px;
    max-height: 100%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
</style>